spring:
  docker:
    compose:
      enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5432/appdb
    username: dev
    password: dev
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
      hibernate.show_sql: false

  sql:
    init:
      mode: never   # evita rodar schema.sql/data.sql sem querer

server:
  port: 8080
