spring:
  docker:
    compose:
      enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5432/appdb
    username: dev
    password: dev
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate.format_sql: true
      hibernate.show_sql: false
      hibernate.jdbc.time_zone: UTC

  sql:
    init:
      mode: never

server:
  port: 3030
